extends layout

block content
  #container
    h1= title
    p Welcome to my homepage!
    p This is my node.js server and it is now up and running
    p To see my homepage click <a href="http://war.re/n">here</a>
